.md-only,
.sm-only {
    display: none;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.header-index {
    color: #f8f9fa;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.82), rgba(54, 54, 54, 0.3)),
		url("./2e16d0bac75.jpg") center center / cover no-repeat;
}

.header-show {
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tools-header {
    position: absolute;
    right: 10px;
    top: 10px;
}

.title-trick, 
.tools-header {
    background: rgba(255, 255, 255, 0.70);
}

.tags {
    width: 200px;
    display: inline-block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .sm-only {
        display: inline-block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px) { 
    .md-only{
        display: inline;
    }

    .navbar-nav {
        gap: 0;
    }
}